body {
    width: 1240px;
    margin: auto;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

.button {
    background-color: #89c7e7;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: white;
    border-radius: 3px;
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 2px;
  }

  .button:active {
    background: #89c7e7;
    box-shadow: inset 0px 0px 4px black;
     outline: none;
  }

  .button:hover {
    cursor: pointer;
  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }


/* Splash Page - top box*/

.topLine {
    border-top: 4px solid #fff67a;
    width: 1240px;
  }

.topImageContainer {
    display: flex;
    background-image: url("./images/1.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: #89c7e7;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.navButtons {
    position: absolute;
    display: flex;
    transform: translate(450px, -190px);
    justify-content: space-between;
    width: 150px;
  }

.Title {
    transform: translate(450px, -150px);
    font-size: 50px;
    color: #fff67a;
    text-shadow: 2px 2px 3px black;
}

#body-text {
    transform: translate(110px, 155px);
    color: #fff67a;
    font-size: 20px;
    font-weight: 900;
}

#p-text {
    transform: translate(-150px, 155px);
    color: #fff67a;
    font-size: 20px;
    font-weight: 900;
}


/* Login modal form */
.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    padding: 5px;
    width: 250px;
    height: 300px;
  }

  .loginFormContainer > h2 {
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #89c7e7;
   text-shadow: 1px 1px 1px black;
   margin-bottom: 10px;
  }

  .loginForm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  #username {
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 3px;
  }

  #password {
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 3px;
  }

  #modal-content {
      border-radius: 10px;
      border: 2px solid #89c7e7;
      box-shadow: 5px 5px 2px #89c7e7;
  }


/* Sign Up modal form */
.signupFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    padding: 5px;
    width: 250px;
    height: 375px;
  }

.signupFormContainer > h2 {
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #89c7e7;
   margin-bottom: 10px;
   text-shadow: 1px 1px 1px black;
  }

.signupForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#email {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px;
    padding-left: 5px;
}

.error-list {
  color: #89c7e7;
  font-size: 14px;
  padding-left: 8px;
  padding-bottom: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


/* Trending */


/* NavBar */
.Nav-bar {
  background-color: #89c7e7;
}
